.parentExperienceContainer {
    margin-top: 2%;
    margin-bottom: 2%;

}

.experienceContainer {
    display: flex;
    flex-direction: column;
}

.experienceTitle {
    margin-bottom: -10px;
}

@media(max-width: 900px) {
    .experienceTitle {
        text-align: center;
    }
}
