@import-normalize;

body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-top: 3%;
}

a {
    color: black;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;
}

h2 {
    margin:0;
}

h3 {
    margin: 0;
    padding-bottom: 6px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 900px) {
    .flexContainer {
        flex-direction: column;
    }

    h3 {
        margin-top: 10px;
        margin-bottom: -13px;
    }

    .icons {
        margin-top: 17px;
    }
}


.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-right: 5px;
    margin-left: 5px;
}

.icons {
    font-size: 25px;
}
