.techContainer {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 3%;
}

ul {
    margin-top: 3px;
}

.skillsContainer {
    display: flex;
    justify-content: space-around;
}

.skills {
    flex-direction: space-around;
}

@media(max-width: 900px) {
    .title {
        text-align: center;
    }

    .skillContainer {
        margin: 0 auto;
    }

    .skillTitle {
        text-align: center;
    }
}

@media(max-width: 700px) {
    .skillsContainer {
        flex-direction: column;
    }

    .skills {
        text-align: center;
    }

    .skills > ul {
        list-style: none;
        margin-left: -20px;
    }

    .skillTitle {
        margin-left: 15px;
        margin-bottom: 1px;
    }

}