body {
    margin-left: 12%;
    margin-right: 12%;
    overflow-x: hidden;
}

hr {
    margin-left: -16%;
    margin-right: -16%;
}

.appContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
